<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Менеджер</title>
</head>
<body>
<form th:if="${user.isEmpty()}" th:method="GET" th:action="@{/login}"><button type="submit">Войти</button> </form>
<form th:if="${user.isPresent()}" th:method="GET" th:action="@{/login}"><button type="submit">Выйти</button> </form>
<form th:method="GET" th:action="@{/report}"><button type="submit">Отчет</button> </form>
<form th:method="GET" th:action="@{/addEmployee}"><button type="submit">Добавить пользователя</button> </form>
<form th:method="GET" th:action="@{/product}"><button type="submit">Товары</button> </form>
<form th:method="GET" th:action="@{/gameZone}"><button type="submit">Игровые зоны</button> </form>
<form th:method="POST" th:action="@{/order/create}"><button type="submit">Создать заказ</button> </form>
<form th:method="GET" th:action="@{/search}"><button type="submit">Найти заказ</button> </form>
<a th:if="${user.isPresent()}" th:text="${user.get().getName()}"></a>
</body>
</html>