<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<form th:method="GET" th:action="@{/}"><button type="submit">Главная страница</button> </form>
<form method="POST" th:action="@{/login}" id="loginForm">
    <div style="color:#FF0000" th:if="${param.error}"  th:class="validationError">
        Неправильные имя или пароль.
    </div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username"><br/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"><br/>
    <input type="submit" value="Login">
</form>

</body>
</html>