<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<form th:method="GET" th:action="@{/}">
    <button type="submit">Главная страница</button>
</form>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<form th:method="GET" th:action="@{/orderManagement}">
    <label for="pay">Укажите статус: </label>
    <select th:name="payment" id="pay">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:value="${true}" th:text="'Оплаченные'"></option>
        <option th:value="${false}" th:text="'Не оплаченные'"></option>
    </select>
    <label for="employee">Укажите сотрудника: </label>
    <select th:name="employeeSearch" id="employee">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:each="employee:${sendDTO.getEmployeeList()}" th:value="${employee.getId()}" th:text="${employee.getName()}"></option>
    </select>
    <label for="day">Введите день резерва</label>
    <input type="date" th:name="date" id="day">
    <br/>
    <label for="orderId">Введите номер заказа</label>
    <input type="number" th:name="orderId" id="orderId" placeholder="Номер заказа">
    <label for="gameZoneId">Введите игровую зону</label>
    <select th:name="gameZoneId" id="gameZoneId">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:each="gameZone:${sendDTO.getGameZoneList()}" th:value="${gameZone.getId()}" th:text="${gameZone.getId()}+':'+${gameZone.getName()}"></option>
    </select>
    <input type="submit" value="Найти!"/>
</form>
<a th:href="@{/orderManagement}" th:text="'Сбросить'"></a>
<table>
    <tr>
        <th>Номер заказа</th>
        <th>Игровая зона</th>
        <th>Дата резерва</th>
        <th>Время резерва</th>
        <th>Резерв до</th>
        <th>Официант</th>
        <th>Статус оплаты</th>
        <th>Итог</th>
        <th>Действия</th>
    </tr>
    <tr th:each="order : ${sendDTO.getOrderList()}">
        <td>
            <a th:text="${order.getOrderId()}"/>
        </td>
        <td>
            <a th:if="${order.getGameZone().isPresent()}" th:text="${order.getGameZone().get()}"/>
        </td>
        <td>
            <a th:if="${order.getGameZone().isPresent()}"
               th:text="${order.getReserveDate()}"/>
        </td>
        <td>
            <a th:if="${order.getGameZone().isPresent()}"
               th:text="${order.getReserveTime()}"/>
        </td>
        <td>
            <a th:if="${order.getGameZone().isPresent()}"
               th:text="${order.getEndReserve()}"/>
        </td>
        <td>
            <a th:text="${order.getEmployee()}"></a>
        </td>
        <td>
            <a th:if="${order.isPayment()}" th:text="'Оплачено'"></a>
            <a th:if="${!order.isPayment()}" th:text="'Не оплачено'"></a>
        </td>
        <td>
            <a th:text="${order.getTotal()}"></a>
        </td>
        <td>
            <form th:method="POST" th:action="@{/orderManagement/restore}">
                <input type="hidden" th:name="orderId" th:value="${order.getOrderId()}">
                <input type="submit" th:value="Востановить">
            </form>
            <form th:method="POST" th:action="@{/orderManagement/delete}">
                <input type="hidden" th:name="orderId" th:value="${order.getOrderId()}">
                <input type="submit" th:value="Удалить">
            </form>
        </td>
    </tr>
</table>
<br/>
<a th:text="${sendDTO.getUser()}"></a>
</body>
</html>