<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<form th:method="GET" th:action="@{/}">
    <button type="submit">Главная страница</button>
</form>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<form th:method="GET" th:action="@{/orderManagement}">
    <label for="pay">Укажите статус: </label>
    <select th:name="payment" id="pay">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:value="${true}" th:text="'Оплаченные'"></option>
        <option th:value="${false}" th:text="'Не оплаченные'"></option>
    </select>
    <label for="employee">Укажите сотрудника: </label>
    <select th:name="employeeSearch" id="employee">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:each="employee:${sendDTO.employeeList()}" th:value="${employee.id()}" th:text="${employee.name()}"></option>
    </select>
    <label for="day">Введите день резерва</label>
    <input type="date" th:name="reserveDate" id="day">
    <br/>
    <label for="orderId">Введите номер заказа</label>
    <input type="number" th:name="orderId" id="orderId" placeholder="Номер заказа">
    <label for="gameZoneId">Введите игровую зону</label>
    <select th:name="gameZoneId" id="gameZoneId">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:each="gameZone:${sendDTO.gameZoneList()}" th:value="${gameZone.id()}" th:text="${gameZone.id()}+':'+${gameZone.name()}"></option>
    </select>
    <input type="submit" value="Найти!"/>
</form>
<a th:href="@{/orderManagement}" th:text="'Сбросить'"></a>
<table>
    <tr>
        <th>Номер заказа</th>
        <th>Игровая зона</th>
        <th>Дата резерва</th>
        <th>Время резерва</th>
        <th>Резерв до</th>
        <th>Официант</th>
        <th>Статус оплаты</th>
        <th>Итог</th>
        <th>Действия</th>
    </tr>
    <tr th:each="order : ${sendDTO.orderList()}">
        <td>
            <a th:text="${order.orderId()}"/>
        </td>
        <td>
            <a th:if="${order.gameZone().isPresent()}" th:text="${order.gameZone().get()}"/>
        </td>
        <td>
            <a th:if="${order.gameZone().isPresent()}"
               th:text="${order.reserveDate()}"/>
        </td>
        <td>
            <a th:if="${order.gameZone().isPresent()}"
               th:text="${order.reserveTime()}"/>
        </td>
        <td>
            <a th:if="${order.gameZone().isPresent()}"
               th:text="${order.endReserve()}"/>
        </td>
        <td>
            <a th:text="${order.employee()}"></a>
        </td>
        <td>
            <a th:if="${order.payment()}" th:text="'Оплачено'"></a>
            <a th:if="${!order.payment()}" th:text="'Не оплачено'"></a>
        </td>
        <td>
            <a th:text="${order.total()}"></a>
        </td>
        <td>
            <form th:method="POST" th:action="@{/orderManagement/restore}">
                <input type="hidden" th:name="orderId" th:value="${order.orderId()}">
                <input type="submit" th:value="Востановить">
            </form>
            <form th:method="POST" th:action="@{/orderManagement/delete}">
                <input type="hidden" th:name="orderId" th:value="${order.orderId()}">
                <input type="submit" th:value="Удалить">
            </form>
        </td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <td>
            <a th:text="'Количество страниц: '+${sendDTO.totalPages()}"/>
        </td>
    </tr>
    <tr>
        <td>
            <form th:if="${!sendDTO.first()}" th:method="GET" th:action="@{/orderManagement}">
                <input type="hidden" th:value="${sendDTO.number()}" th:name="page">
                <input type="hidden" th:value="${sendDTO.payment()}" th:name="payment">
                <input type="hidden" th:value="${sendDTO.employeeSearch()}" th:name="employeeSearch">
                <input type="hidden" th:value="${sendDTO.reserveDate()}" th:name="reserveDate">
                <input type="hidden" th:value="${sendDTO.orderId()}" th:name="orderId">
                <input type="hidden" th:value="${sendDTO.gameZoneId()}" th:name="gameZoneId">
                <input type="submit" value="Назад">
            </form>
            <a th:text="${sendDTO.number()+1}"></a>
            <form th:if="${!sendDTO.last()}" th:method="GET" th:action="@{/orderManagement}">
                <input type="hidden" th:value="${sendDTO.number()+2}" th:name="page">
                <input type="hidden" th:value="${sendDTO.payment()}" th:name="payment">
                <input type="hidden" th:value="${sendDTO.employeeSearch()}" th:name="employeeSearch">
                <input type="hidden" th:value="${sendDTO.reserveDate()}" th:name="reserveDate">
                <input type="hidden" th:value="${sendDTO.orderId()}" th:name="orderId">
                <input type="hidden" th:value="${sendDTO.gameZoneId()}" th:name="gameZoneId">
                <input type="submit" value="Вперед">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form th:method="GET" th:action="@{/orderManagement}">
                <label th:text="'Перейти на страницу: '" for="goPage"></label>
                <input type="number" th:name="page" id="goPage">
                <input type="hidden" th:value="${sendDTO.payment()}" th:name="payment">
                <input type="hidden" th:value="${sendDTO.employeeSearch()}" th:name="employeeSearch">
                <input type="hidden" th:value="${sendDTO.reserveDate()}" th:name="reserveDate">
                <input type="hidden" th:value="${sendDTO.orderId()}" th:name="orderId">
                <input type="hidden" th:value="${sendDTO.gameZoneId()}" th:name="gameZoneId">
                <input type="submit" value="Перейти">
            </form>
        </td>
    </tr>
</table>
<br/>

<a th:text="${sendDTO.user()}"></a>
</body>
</html>