<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<a th:href="@{/search}">Назад</a>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<a th:if="${manager.isPresent()}" th:text="${manager.get.getName()}">user</a>
<a th:if="${gameZone.isPresent()}" th:text="${gameZone.get().getName()}">user</a>
<a th:if="${gameZone.isEmpty}">---</a>
<hr>
Гости
<div th:each="guest : ${guests}">
    <a th:text="${guest.getId() + ', ' + ', ' }">user</a>
    <a th:href="@{/guest/{id}(id=${guest.getId()})}" th:text="${guest.getName()}"></a>
</div>
<form th:method="POST" th:action="@{/order/{id}/add_guest(id=${order.getId()})}">
    <input type="submit" value="Создать"/>
</form>
<hr>
Продукты
<div th:each="product : ${products}">
    <a th:text="${product.getId() + ', ' +product.getProduct().getName() + ', '+ product.getQuantity() + ', ' + product.getGuest().getName() + ', '}">user</a>
</div>
<a th:text="${total}">user</a>
<br/>
</body>
</html>