<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавление_Изменение продукта</title>
</head>
<body>
<h1>Добавление/Изменение продукта</h1>

<form th:object="${product}" th:action="@{/product/add}" method="post">
  <label for="name">Имя:</label>
  <input type="text" id="name" name="name" th:field="*{name}" required><br>

  <label th:for="productCategory">Категория:</label>
  <input type="text" th:name="productCategorys" th:id="productCategory"  required><br>

  <label for="price">Цена:</label>
  <input type="number" id="price" name="price" th:field="*{price}" required><br>

  <label for="description">Описание:</label>
  <textarea id="description" name="description" th:field="*{description}" required></textarea><br>

  <button type="submit">Сохранить</button>
</form>
</body>
</html>