<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<form th:method="GET" th:action="@{/}">
    <button type="submit">Главная страница</button>
</form>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<form th:method="GET" th:action="@{/search}">
    <label for="pay">Укажите статус: </label>
    <select th:name="payment" id="pay">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:value="${true}" th:text="'Оплаченные'"></option>
        <option th:value="${false}" th:text="'Не оплаченные'"></option>
    </select>
    <label for="employee">Укажите сотрудника: </label>
    <select th:name="employeeSearch" id="employee">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:each="employee:${sendDTO.employeeList()}" th:value="${employee.id()}" th:text="${employee.name()}"></option>
    </select>
    <label for="day">Введите день резерва</label>
    <input type="date" th:name="date" id="day">
    <br/>
    <label for="orderId">Введите номер заказа</label>
    <input type="number" th:name="orderId" id="orderId" placeholder="Номер заказа">
    <label for="gameZoneId">Введите игровую зону</label>
    <select th:name="gameZoneId" id="gameZoneId">
        <option th:value="${null}" th:text="'Все'"></option>
        <option th:each="gameZone:${sendDTO.gameZoneList()}" th:value="${gameZone.id()}" th:text="${gameZone.id()}+':'+${gameZone.name()}"></option>
    </select>
    <input type="submit" value="Найти!"/>
</form>
<a th:href="@{/search}" th:text="'Сбросить'"></a>
<table>
    <tr>
        <th>Номер заказа</th>
        <th>Игровая зона</th>
        <th>Дата резерва</th>
        <th>Время резерва</th>
        <th>Резерв до</th>
        <th>Официант</th>
        <th>Статус оплаты</th>
        <th>Итог</th>
        <th>Действия</th>
    </tr>
    <tr th:each="order : ${sendDTO.orderList()}">
        <td>
            <a th:text="${order.orderId()}"/>
        </td>
        <td>
            <a th:if="${order.gameZone().isPresent()}"
               th:text="${order.gameZone().get()}"/>
        </td>
        <td>
            <a th:if="${order.gameZone().isPresent()}"
               th:text="${order.reserveDate()}"/>
        </td>
        <td>
            <a th:if="${order.gameZone().isPresent()}"
               th:text="${order.reserveTime()}"/>
        </td>
        <td>
            <a th:if="${order.gameZone().isPresent()}"
               th:text="${order.endReserve()}"/>
        </td>
        <td>
            <a th:text="${order.employee()}"></a>
        </td>
        <td>
            <a th:if="${order.payment()}" th:text="'Оплачено'"></a>
            <a th:if="${!order.payment()}" th:text="'Не оплачено'"></a>
        </td>
        <td>
            <a th:text="${order.total()}"></a>
        </td>
        <td>
            <a th:text="Перейти" th:href="@{/order/{id}(id=${order.orderId()})}"/>
        </td>
    </tr>
</table>
<form th:method="POST" th:action="@{/order/create}">
    <input type="submit" value="Создать заказ!"/>
</form>
<br/>
<a th:text="${sendDTO.user()}"></a>
</body>
</html>