<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<form th:method="GET" th:action="@{/}"><button type="submit">Главная страница</button> </form>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<form th:method="GET" th:action="@{/search}">
    <label for="orderId">Введите номер заказа</label>
    <input type="text"  th:name="orderId" id="orderId" placeholder="Номер заказа">
    <label for="gameZoneId">Введите игровую зону</label>
    <input type="text" th:name="gameZoneId" id="gameZoneId" placeholder="Номер зоны">
    <input type="submit" value="Найти!"/>
</form>
<div th:each="order : ${orders}">
    <a th:text="'Номер заказа: '+${order.getId() + ', '}">user</a>
    <a th:if="${order.getGameZone()==null}" th:text="'Столик не зарезервирован'"></a>
    <a th:if="${order.getGameZone()!=null}" th:text="'Зарезервированный столик: '+${order.getGameZone().getId()}+', ' + ${order.getGameZone().getName()}">user</a>
    <a th:href="@{/order/{id}(id=${order.getId()})}">-></a>
</div>
<form th:method="POST" th:action="@{/order/create}">
    <input type="submit" value="Создать заказ!"/>
</form>
<br/>
<a th:if="${user.isPresent()}" th:text="${user.get().getName()}"></a>
</body>
</html>