<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить сотрудника</title>
</head>
<body>
<form th:method="GET" th:action="@{/}">
    <button type="submit">Главная страница</button>
</form>
<form th:method="POST" th:action="@{/employee/add}">
    <table>
        <tr>
            <td>
                <label for="name">ФИО</label>
            </td>
            <td>
                <div th:if="${sendDTO.nameError().isPresent()}">
                    <a th:text="${sendDTO.nameError().get()}" style="color:#FF0000"></a>
                </div>
                <input type="text" name="name" id="name" th:value="${sendDTO.name()}"><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="username">Логин</label>
            </td>
            <td>
                <div th:if="${sendDTO.usernameError().isPresent()}">
                    <a th:text="${sendDTO.usernameError().get()}" style="color:#FF0000"></a>
                </div>
                <div th:if="${sendDTO.usernameDuplicateError().isPresent()}">
                    <a th:text="${sendDTO.usernameDuplicateError().get()}" style="color:#FF0000"></a>
                </div>
                <input type="text" name="username" id="username" th:value="${sendDTO.username()}"><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Пароль</label>
            </td>
            <td>
                <div th:if="${sendDTO.passwordError().isPresent()}">
                    <a th:text="${sendDTO.passwordError().get()}" style="color:#FF0000"></a>
                </div>
                <input type="password" name="password" id="password"><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="role">Роль</label>
            </td>
            <td>
                <label>
                    <select th:name="roleId" id="role">
                        <option th:each="role:${sendDTO.roles()}"
                                th:value="${role.getId()}"
                                th:text="${role.getRole()}"
                                th:selected="${role.getId() == sendDTO.roleId()}"
                        ></option>
                    </select>
                </label>
            </td>
        </tr>
    </table>
    <input type="submit" value="Добавить">
</form>
<a th:text="${sendDTO.employeeName()}"></a>
</body>
</html>