<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Сотрудники</title>
</head>
<body>
<form th:method="GET" th:action="@{/}">
  <button type="submit">Главная страница</button>
</form>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<form th:method="GET" th:action="@{/employee}">
  <label for="username">Имя пользователя: </label>
  <input type="text" th:name="username" id="username">
  <input type="submit" value="Поиск">
</form>
<a th:href="@{/employee}" th:text="'Сбросить'"></a>
<a th:href="@{/employee/add}" th:text="'Добавить сотрудника'"></a>
<table>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Имя пользователя</th>
    <th>Роль</th>
    <th>Активирован</th>
    <th>Действия</th>
  </tr>
  <tr th:each="employee : ${employees}">
    <td>
      <a th:text="${employee.getId()}"/>
    </td>
    <td>
      <a th:text="${employee.getName()}"/>
    </td>
    <td>
      <a th:text="${employee.getUsername()}"/>
    </td>
    <td>
      <div th:each="role: ${employee.getRole()}">
        <a  th:text="${role.getRole()}"/>
      </div>
    </td>
    <td>
      <a  th:if="${employee.isEnabled()}" th:text="АКТИВЕН"/>
      <a  th:if="${!employee.isEnabled()}" th:text="ДЕАКТИВИРОВАН"/>
    </td>
    <td>
      <a th:href="@{/employee/edit/{id}(id=${employee.getId()})}" th:text="'Изменить'"></a>
      <form th:if="${employee.isEnabled()}" th:method="POST" th:action="@{/employee/deactivate}">
        <input type="hidden" th:value="${employee.getId()}" th:name="employeeId">
        <input type="submit" value="Деактивировать">
      </form>
      <form th:if="${!employee.isEnabled()}" th:method="POST" th:action="@{/employee/activate}">
        <input type="hidden" th:value="${employee.getId()}" th:name="employeeId">
        <input type="submit" value="Активировать">
      </form>
    </td>
  </tr>
</table>
<br/>
<a th:if="${user.isPresent()}" th:text="${user.get().getName()}"></a>
</body>
</html>